@charset "UTF-8";

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}

a {
    color: #e9eadc;
}


.error{
  color: red;
  margin: 0;
}
.err_message{
  margin: 3px;
}
#mail_form_attach_label{
  overflow: hidden;
}
#mail_form_attach_filename{
  width: 110px;
}
.bg_form{
	/*background-image: url(../img/bg7.jpg);*/
	background-color: #1EA4C9;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg_manual{
	background-color: #1EA4C9;
	background-size: cover;
	background-size:auto 2800px;
	background-repeat: no-repeat;
}
.logo{
	color: white;
	margin-top: 30px;
	font-family: 'Khand', sans-serif;
	font-family: 'Abel', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}
.mini{
	font-family: 'Khand', sans-serif;
	font-size: large;
	letter-spacing: 1.2px;
	padding-left: 10px;
	color: #e9eadc;
}
.version_mini{
	font-family: 'Khand', sans-serif;
	font-size: large;
	letter-spacing: 1.2px;
	padding-left: 10px;
	color: #EFEFEF;
}
.lc01{
	color: white;
}
.contents__form_back{
	border-radius: 5px;
}
.manual{
	background: #F5F3F1;
	padding: 10px 50px;
	border-radius: 5px;
	font-size: 16px;
}
	.manual table{
		margin: 20px 0;
		border: 1px solid black;
	}
	.manual tr{
		border: 1px solid black;
	}
	.manual td , .manual th{
		padding: 5px 30px;
	}


.navi_link{
	color: white;
}
.navi_link:hover{
	color: white;
	opacity: 0.6;
}
a.md{
	color: #ce2929;
	font-weight: bold;
}



