
<!-- ff_mailform.php 　The MIT License  (c)2020 econosys system  https://econosys-system.com/ -->
<!-- [table.html] -->
<div id="mail_form_error">
{ if $result}下記のエラーがあります。
{ /if }
{ foreach from=$result key="k" item="v" name="loopname"}
<ul>
	<li>{$v}</li>
</ul>
{ /foreach }
</div>

<form id="{ $form_id_name|escape }" class="{ $form_class_name|escape }" action="{$_program_name}" onsubmit="changeFlg=false;" method="post" { if $form_attach == 1 }enctype="multipart/form-data"{ /if} >
<span class="p-country-name" style="display:none;">Japan</span> <!-- for yubinbango.js  -->
{$hidden}

<div class="{ $div_class_name|escape }">
<ul class="{ $ul_class_name|escape }">
{ foreach from=$form_loop key="k" item="v" name="loopname"}
<li class="{ $li_class_name|escape }">
<div class="{ $row1_class_name|escape }"><span>{ $v.title_html }</span></div>
<div class="{ $row2_class_name|escape }">
{ if $v.input_type == "radio"}
	{ foreach from=$v.input_values key="iv_k" item="iv_v" name="iv_loopname"}
	<label><input type="{ $v.input_type|escape }" name="{ $k|escape }" {if $v.class }class="{ $v.class|escape }"{ /if } value="{ $iv_v.value|escape }">{ $iv_v.value|escape }</label><br>
	{ /foreach }
{ elseif $v.input_type == "checkbox" }
	{ foreach from=$v.input_values key="iv_k" item="iv_v" name="iv_loopname"}
	<label><input type="{ $v.input_type|escape }" name="{ $k|escape }[]" {if $v.class }class="{ $v.class|escape }"{ /if } value="{ $iv_v.value|escape }">{ $iv_v.value|escape }</label><br>
	{ /foreach }
{ elseif $v.input_type == "select"}
<select name="{ $k|escape }">
	{ foreach from=$v.input_values key="iv_k" item="iv_v" name="iv_loopname"}
	<option value="{ $iv_v.value|escape }">{ $iv_v.value|escape }</option>
	{ /foreach }
</select>
{ elseif $v.input_type == "textarea"}<textarea name="{ $k|escape }" {if $v.class }class="{ $v.class|escape }"{ /if } placeholder="{ $v.placeholder|escape }"></textarea>
{ elseif $v.input_type == "file"}
<button type="button" id="{ $k }_label" class="btn btn-secondary mb3" onClick="$('#{ $k }_file').click(); return false;">
{ $v.placeholder|escape }
</button>
<br>
<input id="{ $k }_filename" readonly type="text" >
<input id="{ $k }_file" type="file" name="{ $k|escape }" {if $v.class }class="{ $v.class|escape }"{ /if } onchange="$('#{ $k }_filename').val( $(this)[0].files[0].name )">
{ elseif $v.input_type == "text"}<input type="text" name="{ $k|escape }" id="{ $k|escape }" {if $v.class }class="{ $v.class|escape }"{ /if } placeholder="{ $v.placeholder|escape }">
{ else }<input type="{ $v.input_type }" name="{ $k|escape }" id="{ $k|escape }" {if $v.class }class="{ $v.class|escape }"{ /if } placeholder="{ $v.placeholder|escape }">
{ /if }
<div class="err_message" id="{ $k|escape }_err"></div>
</div>
</li>
{ /foreach }

<li class="row">
<div class="{ $row1_class_name|escape }"></div>
<div class="{ $row2_class_name|escape }">
	<p class="mt10"><input type="submit" value="入力内容確認" class="btn btn-success"></p>
	<p class="mt15"><input type="button" value="戻る" class="btn" onclick="history.back();"></p>
</div>
</li>
</ul>
</div>
</form>
{ if $yubinbango_js }<script src="https://yubinbango.github.io/yubinbango/yubinbango.js"></script>
{ /if }

<script>

{$js_text}

</script>
<!-- [table.html] -->
